language: rust
sudo: false
os: linux
rust:
    - beta
    - stable
        
# found on https://github.com/emoon - thanks for the script
addons:
    apt:
        packages:
            - libcurl4-openssl-dev
            - libelf-dev
            - libdw-dev
            - binutils-dev # optional: only required for the --verify flag of coveralls

before_script:
  - |
      pip install 'travis-cargo<0.2' --user &&
      export PATH=$HOME/.local/bin:$PATH
      
# the main build
script:
  - |
      travis-cargo build &&
      travis-cargo test

after_success: |
  - travis-cargo coveralls --no-sudo --verify
